#MarginSelector {
  p {
    color: #848484;
    padding: 0;
    margin: 0;
  }
}

#MarginSelector::v-deep {
  select {
    background-color: transparent;
  }

  .inputBackground {
    background-color: #f2f2f2;
  }
}
